<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HealthCare Products</title>

  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/hcareproduct.css" />
</head>

<body>
  <!-- Header -->
  <%- include('../partials/header') %>

    <!--  order -->
    <div id="complete">
      <% if (categories.length> 0) { %>
        <% categories.forEach(category=> { %>
          <div class="one" onclick="location.href = '/others/hcareproduct/filter?categoryId=<%= category._id %>'">
            <img src="<%= category.image %>" alt="<%= category.name %>" />
            <p class="write">
              <%= category.name %>
            </p>
            <% if (category.discount) { %>
              <p class="write1">
                Upto<br />
                <%= category.discount %>% off
              </p>
              <% } %>
          </div>
          <% }) %>
            <% } else { %>
              <p class="no-category-message">No categories available at the moment.</p>
              <% } %>
    </div>


    <!-- Footer -->
    <hr>
    <%- include('../partials/footer') %>

</body>

</html>