<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Results...</title>

  <!-- Stylesheets -->
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/productdetails.css" />
  <link rel="stylesheet" href="css/search.css" />
</head>

<body>

  <!-- Header -->
  <%- include('../partials/header') %>

    <div class="search-page" style="padding: 5px 20px;">
      <h2>Search Results for "<%= query %>"</h2>

      <% if (results.length===0) { %>
        <p>No results found.</p>
        <% } else { %>
          <div class="search-results">
            <% results.forEach(product=> { %>
              <main class="divide"
                style="box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;">

                <div>
                  <img src="<%= `${product.image}` %>" alt="<%= product.name %>">
                </div>

                <div class="add_cart2">
                  <h2 id="tabname">
                    <%= product.name %>
                  </h2>
                  <p id="tabcompany">By <%= product.manufacturer %>
                  </p>
                  <h5 class="p10" id="stock">
                    <%= product.quantity> 0 ? "In Stock" : "Out of Stock" %>
                  </h5>

                  <% if(product.quantity && product.quantity> 0) { %>
                    <!-- Quantity Selector -->
                    <label for="quantity">Quantity:</label>
                    <select id="quantity">
                      <% for(let i=1; i <=10; i++) { %>
                        <option value="<%= i %>">
                          <%= i %>
                        </option>
                        <% } %>
                    </select>
                    <% } %>

                      <div class="add_insite">
                        <h2 id="actual">₹<%= product.price.toFixed(2) %>*</h2>
                        <p>MRP</p>
                        <p class="p2" id="original">₹<%= product.mrp.toFixed(2) %>
                        </p>
                        <h5 id="taboff">
                          <%= product.discount %>% OFF
                        </h5>
                      </div>

                      <h6>Inclusive of all taxes</h6>
                      <button type="button"
                        onclick="(location.href=`/carts/add-to-cart/<%= product._id %>?quantity=${document.getElementById('quantity')}`)"
                        id="carted">
                        Add To Cart
                      </button>
                </div>

              </main>
              <% }); %>
          </div>
          <% } %>
    </div>

    <!-- Footer -->
    <hr>
    <%- include('../partials/footer') %>

</body>

</html>